.pagination > li > span.active {
    background-color:#ccc;
}
.table {
    border-collapse:collapse;
    table-layout: fixed;
}
.table > tbody > tr > td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
h3 {
    line-height: 48px;
    padding-left:16px;
    background-color: rgba(0, 0, 0,0.2);
    margin:0 -11px;
}
.pop-detailsWrapper {
    position:relative;
    width: 100%;
    height: 1500px;
    background-color: rgba(0,23,0,0.2);
}
.pop-details {
    position: absolute;
    overflow: scroll;
    top:0;
    bottom:0;
    left:50%;
    right:0;
    width: 350px;
    height: 37%;
    min-height: 550px;
    margin-top: 408px;
    margin-left: -175px;
    padding: 16px;
    background-color: rgba(7,17,27,0.8);
    color: rgb(255, 255, 255);
}
.pop-details::-webkit-scrollbar {
    display:none;
}

.pop-details > p {
    position: relative;
    margin-bottom: 12px;
}
.min-height {
    min-height: 500px;
}
